@page "/"
@page "/home"

<div class="container mt-5">
    <h1>Välkommen till BankApp</h1>
    <p>Hantera dina banktransaktioner enkelt och säkert.</p>
    <p>
        <a class="btn btn-primary" href="/deposit">Gör en insättning</a>
    </p>
</div>